
body {
  font-family: 'Arial', sans-serif;
}
header {
  --background-color: #0B5EAA;
  --background-color: #3f51b5; < indigo
  background-color: white;
  --color: #0B5EAA;
  color: navy;
  padding: 40px 0;
  text-align: center;
}
header img {
    max-height: 240px;
    margin-bottom: 10px;
	margin-right: 0px;
}
footer {
  background-color: #0B5EAA;
}
h1,h3 {
	--font-family: 'stencil';
	--font-family: 'Elephant';
	font-family: 'Algerian';
}
h2 {
	font-family: 'Elephant';
	
}
 /* Botón flotante de WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.whatsapp-float img {
  width: 70px;
  height: 70px;
}
.carousel-inner img {
    width: 100%;
    height: auto;
}

section {
   --padding: 1rem; 
}
.card-separador {
	margin: 10px 10px 10px 10px;
	width: 23.5%;
	max-height: 512px;
}
.card {
	min-width: 250px;
}
.card-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card-img {
	margin: 10px 0 0 0;
	--max-height: 200px;
	max-width: 150px;
	align-self: center;
}
.card-title {
	height: 50px;
	margin: 0 0 15px 0;
}
.card-text {
	height: 170px;
}
.row {
	flex-wrap: nowrap; 
}


.img-ws {
	max-height: 28px; 
	max-width: 28px;
}

.img-gmail {
	max-height: 24px; 
	max-width: 28px;
}
.img-ig {
	max-height: 28px; 
	max-width: 28px;
}

.mt-3 {
    margin-top: 0 !important;
}

.bg-primary {
    background-color: #3f51b5; !important;
}

#g-recaptcha-response {
	display: block !important;
	position: absolute;
	margin: -50px 0 0 0 !important;
	z-index: -999999;
	opacity: 0;
}

/* Small tablets and larger mobile devices (481px - 768px) */
@media (min-width: 481px) {
	.card-separador {
		--margin: 0 20px 50px 0;
		margin: 10px 10px 10px 10px;
		flex-direction: column;
		min-width: 300px;
	}
	.row {
		flex-wrap: wrap; 
	}
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {
	.card-separador {
		--margin: 0 20px 50px 0;
		margin: 10px 10px 10px 10px;
		flex-direction: column;
		min-width: 300px;
	}
	.row {
		flex-wrap: wrap; 
	}
}

/* Large desktops and high-resolution screens (1025px and up) */
@media (min-width: 1025px) {
  	.row {
		flex-wrap: wrap; 
	}
}

/* Extra-large screens (1440px and up) */
@media (min-width: 1440px) {
	.row {
		flex-wrap: nowrap; 
	}
}

@media (max-width:500px) {
	.card-separador {
		--margin: 0 20px 50px 0;
		margin: 10px 10px 10px 10px;
		flex-direction: column;
		min-width: 300px;
	}
	.row {
		flex-wrap: wrap; 
	}	
}
